/* ===== COMMON STYLES ===== */

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    background-color:var(--white);
    color: var(--slate);
}

.container{
    max-width: 1158px;
    padding: 0px 15px;
    margin-left: auto;  
    margin-right: auto;
}

/* ===== COLOR STYLES ===== */

:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

/* ===== HEADER STYLES ===== */

.container-header {
    display: flex;
    justify-content: space-between;
} 

.page-header{
    border-bottom: 1px solid var(--cornflower);
    width: 1440px;
    background: var(--white);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    padding: 24px 0px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--iris);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-dark {
    color: var(--navy-blue);
}

.logo-leight {
    color: var(--cloud);
}

.header-menu {
    display: flex;
    column-gap: 40px;
    padding-top: 24px 0px;
}

.header-link{
    font-weight: 500;
    color: var(--navy-blue);
}


.header-link:hover,
.header-link:focus{
    color: var(--ocean);
}

.address {
    word-wrap: break-word;   
}
.address-menu {
    display: flex;
    font-weight: 400;
    column-gap: 40px;
    padding: 24px 0px;
    color: var(--slate);
 
}
.address-link:hover,
.address-link:focus{
    color: var(--ocean);
}
 /**================HERO========================*/
.hero {
    color: #ffffff;
   background-color: #2E2F42;
}
.hero-title {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.hero-btn {
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}

 /**================ADVANTAGES==================*/
.advantages {
}
.advantages-menu {
}
.advantages-item {
}
.advantages-title {
    font-weight: 500;
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.advantages-text {
    background-color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0.02em;
}

/**==============================================*/
 /**================OUR TEAMS===================*/

 .teams {
    background-color: #F4F4FD;
}
.teams-title {
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.teams-menu {
   
}
.teams-item {
    background-color: #FFFFFF;
}
.teams-subtitle {
    font-weight: 500;
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.teams-text {
    font-weight: 400;
    letter-spacing: 0.02em;
}

 /**==============================================*/
 /**================PORTFOLIO====================*/
 .portfolio {
    background-color: #F4F4FD
}
.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}
.portfolio-menu {

}
.portfolio-item {
}
.portfolio-subtitle {
    font-weight: 500;
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    word-wrap: break-word;
    letter-spacing: 0.02em;
}
.portfolio-text {
    letter-spacing: 0.02em;
    font-weight: 400;
    word-wrap: break-word;
}
.footer{
    background-color: #2E2F42;
}
.footer-text{
    letter-spacing: 0.02em;
    color: #F4F4FD;
    font-weight: 400;
    word-wrap: break-word;
}